<nav class="orange darken-4">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Онлайн Платоникс</a> {{!-- название на строке с кнопками--}}
    <ul id="nav-mobile" class="right hide-on-med-and-down"> {{!-- нахождение кнопки --}}

      {{#if isIndex}}
      <li class="active"><a href="/">🤙</a></li> {{!-- название кнопок --}}
      {{else}}
      <li><a href="/">🤙</a></li>
      {{/if}}

    </ul>
  </div>
</nav>